.table__head {
	background-color: #9d9697;
}

.table__head tr {
	background-color: #9d9697;
	color: black;
}

.table__head th {
	background-color: #9d9697;
	color: black;
}

.table__head tr th:last-child {
	background-color: #9d9697;
	color: black;
	width: auto;
	white-space: nowrap;
}