.table {
	border-collapse: collapse;
	width: 100%;
	border: 2px solid #5c5859; /* Cambia el color y el grosor del borde */
}

.table th, .table td {
	border: 1px solid #5c5859; /* Borde de las celdas */
	padding: 10px;
	text-align: left;
  }