@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './layout/index.scss';
@import './nav-bar/index.scss';
@import './table/index.scss';
@import './modal/index.scss';
@import './footer/index.scss';
@import './button/index.scss';

html, body {
	padding: 0;
	margin: 0;
}

* {
	font-family: 'Open Sans', sans-serif;
}
